html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    background: center / contain no-repeat url("./bkg11.jpg");
    background-size: cover;
    color: white; 
}

.tempUnit{
    content: "\2103";
}

/* .currWeatherLine {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
} */

hr {
    color: white;
    background-color: white;
    height: 1px;
}

#overviewinfo {
    display: flex;
    flex-direction: column;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 66px;
    font-size: 3.5vw;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
}

.currweather {
    display: flex;
    flex-direction: column;
    align-items:center;
}

/* styling title of time weather */
#dateTemp {
    table-layout: auto;
    flex: auto;
    width: 100%;
    font-size: 20px;
    font-size: 1.5vw;
}

#dateTemp thead th{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#dateTemp #weekDay {
    text-align: left;
    width: 200px;
}

#dateTemp #today {
    text-align: left;
}

#dateTemp #highTemp {
    text-align: right;
}

#dateTemp #lowTemp {
    text-align: right;
    width: 200px;
}

#dateTemp thead th {
    padding: 5px;
    letter-spacing: 1px;
}

/* styling time weather table */
#weatherDetails{
    table-layout: auto;
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-size: 1.2vw;
}

#weatherDetails td {
    padding: 20px;
    letter-spacing: 1px;
}

#weatherDetails tbody td {
    text-align: center;
}


#forecastTableBody {
    table-layout: auto;
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-size: 1.2vw;
}

#forecastTableBody td {
    padding: 20px;
    letter-spacing: 1px;
}

#forecastTableBody tbody td {
    text-align: center;
}

.forecast {
    width: 25%;
    margin: 0 auto;
}
